body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514e;
}

.top_container {
  position: relative;
  font-family: 'Merriweather', serif;
}

.head_other {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.head_pic {
  padding: 0;
  max-width: 100%;
  margin: 0;
}


.add-button {
  display:block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.search {
  display:block;
  margin-left: auto;
  margin-right: auto;
}

.queryExpansion {
  margin:20px auto 20px auto;
  color:white;
}

.middle_container {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
}

.show_message {
  color: #393e46;
  margin:10px auto;
}

.bottom_container {
  font-family: 'Merriweather', serif;
  margin: 0;
  text-align: center;
  background-color: #393e46;
  padding: 20px 0 20px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.9em;
  margin: 16px auto;
}

.pressed {
  opacity: 0.5;
}
